$desktop: 1920;
$tablet: 991;
$tablet-s: 767;
$mobile: 320;

@mixin media($breakpoint) {
    @if $breakpoint == desktop {
        @media (max-width: #{$desktop}px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: #{$tablet}px) {
            @content;
        }
    } @else if $breakpoint == tablet-s {
        @media (max-width: #{$tablet-s}px) {
            @content;
        }
    } @else if $breakpoint == mobile {
        @media (max-width: #{$mobile}px) {
            @content;
        }
    }
}
