@use './media' as *;
@use './variables' as *;

@mixin fluid-text($max, $min) {
    font-size: clamp(#{$min}px, calc(#{$max} / $desktop * 100vw), #{$max}px);
}

@mixin fluid-column-gap($max, $min) {
    column-gap: clamp(#{$min}px, calc(#{$max} / $desktop * 100vw), #{$max}px);
}

@mixin fluid-raw-gap($max, $min) {
    row-gap: clamp(#{$min}px, calc(#{$max} / $desktop * 100vw), #{$max}px);
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin hover-none {
    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin buttonReset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin square($value) {
    width: $value;
    height: $value;
}
