$color-primary: #2e3238;
$color-blue: #0078cf;
$color-blue-hover: #2f98e3;
$color-blue-light: #e5f4ff;
$color-grey-ligth: #fcfcfd;
$color-bg: #fff;

$border-radius: 4px;

$heigth-header-desktop: 48px;
$heigth-header-tablet-s: 56px;