@use '../../../styles/importer' as *;

.badges {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: $color-primary;
    overflow: hidden;

    &__container {
        display: flex;
        gap: 4px;
    }

    // &__list {
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 4px;
    //     width: 100%;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 1.4;
    //     color: $color-primary;
    //     padding: 2px;
    //     border-radius: $border-radius;
    //     background-color: $color-grey-ligth;
    //     border: 1px solid #d5d8dd;
    //     outline: none;
    //     min-height: 32px;
    //     position: relative;
    //     padding-right: 30px;
    // }
    .badges__list {
        display: flex;
        flex-wrap: wrap; /* Запрещаем перенос элементов */
        gap: 4px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: $color-primary;
        padding: 2px;
        border-radius: $border-radius;
        background-color: $color-grey-ligth;
        border: 1px solid #d5d8dd;
        outline: none;
        min-height: 32px;
        position: relative;
        padding-right: 30px; 
    
        overflow: hidden;
    }

    &__button {
        @include buttonReset;
        @include flexCenter;
        padding: 8px;
        border: 1px solid #d5d8dd;
        border-radius: $border-radius;
        max-height: 32px;
        max-width: 32px;


        @include hover {
            & svg {
                opacity: 0.6;
            }
        }

        @include hover-none {
            & svg {
                opacity: 0.6;
            }
        }
    }

    &__resetButton {
        position: absolute;
        top: 50%;
        right: 0;
        translate: -50% -50%;

        @include buttonReset;
        @include flexCenter;
    }
}

.badges__button {
    @include buttonReset;
    @include flexCenter;
    padding: 8px;
    border: 1px solid #d5d8dd;
    border-radius: $border-radius;
    max-height: 32px;
    max-width: 32px;
    flex-shrink: 0; /* Не даём кнопке сжиматься */

    @include hover {
        & svg {
            opacity: 0.6;
        }
    }

    @include hover-none {
        & svg {
            opacity: 0.6;
        }
    }
}