@use '../../../styles/importer' as *;

.search {
    position: relative;

    &__input {
        border: 1px solid #d5d8dd;
        border-radius: $border-radius;
        line-height: 1.4;
        padding: 6px 28px 6px 6px;
        width: 100%;
        background-color: $color-grey-ligth;
        color: $color-primary;
        transition: 0.3s;
        font-size: 14px;
        outline: none;

        &::placeholder {
            color: #abb1ba;
        }

        &:focus {
            border-color: #8d8e90;
        }
    }

    &__button {
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: 8px;
        translate: 0 -50%;
        @include buttonReset;
        @include flexCenter;
        @include square(24px);
    }
}
