@use '../../../styles/importer' as *;

.button {
    padding: 6px 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    color: $color-primary;
    transition: 0.2s;

    &__primary {
        background-color: $color-blue;
        color: #fff;

        @include hover {
            background-color: $color-blue-hover;
        }
        @include hover-none {
            background-color: $color-blue-hover;
        }
    }

    &__secondary {
        background-color: #fff;
        border: 1px solid #d5d8dd;

        @include hover {
            background-color: $color-grey-ligth;
        }
        @include hover-none {
            background-color: $color-grey-ligth;
        }
    }
}
