@use '../../styles/importer' as *;

.header {
    border-bottom: 1px solid #d5d8dd;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $color-bg;
    width: 100%;
    height: $heigth-header-desktop;
    display: flex;
    align-items: center;

    @include media(tablet-s) {
        height: $heigth-header-tablet-s;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
    }

    &__logo {
        @include media(tablet-s) {
            display: none;
        }
    }

    &__searchButton {
        max-width: 296px;
        width: 100%;
        margin-left: auto;
        margin-right: 16px;

        @include media(tablet-s) {
            display: none;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 8px;

        @include media(tablet-s) {
            margin-left: auto;
            margin-right: 16px;
        }

        & img {
            border-radius: 50%;
            cursor: pointer;
        }

        & span {
            line-height: 1.4;
            cursor: pointer;

            @include media(tablet-s) {
                display: none;
            }
        }
    }

    &__settings {
        background-color: transparent;
        border-radius: $border-radius;
        padding: 5px;
        cursor: pointer;
        border: 1px solid #d5d8dd;
        transition: 0.2s;

        @include flexCenter;

        & svg {
            transition: 0.2s;
        }

        @include hover {
            opacity: 0.6;
        }

        @include hover-none {
            opacity: 0.6;
        }
    }

    &__sidebarButton {
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @include square(32px);

        @include hover {
            & path {
                fill: #005999;
            }
        }

        @include hover-none {
            & path {
                fill: #005999;
            }
        }

        @include media(tablet-s) {
            @include flexCenter;
        }

        & svg {
            @include square(16px);
        }
    }
}
