@use '../../../styles/importer' as *;

.menu {
    border-right: 1px solid #d5d8dd;
    background-color: $color-grey-ligth;
    overflow-y: auto;
    height: 100%;
    z-index: 9;
    transition: 0.3s;
    width: 280px;


    @include media(tablet-s) {
        position: absolute;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &.menu_enter {
        opacity: 0;
        max-width: 0;
    }

    &.menu_enterActive {
        opacity: 1;
        max-width: 280px;
    }

    &.menu_exit {
        opacity: 1;
        max-width: 280px;
    }

    &.menu_exitActive {
        opacity: 0;
        max-width: 0;
    }

    &__search {
        padding: 15px;
        display: flex;
        gap: 8px;
    }

    &__noPinButton {
        background-color: transparent;
        border: 1px solid #d5d8dd;
        border-radius: $border-radius;
        padding: 0 6px;
        cursor: pointer;

        @include flexCenter;

        @include hover {
            opacity: 0.6;
        }

        @include hover-none {
            opacity: 0.6;
        }
    }

    // &__list {
    // }

    &__listButton {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        gap: 8px;
        @include buttonReset;

        @include hover {
            opacity: 0.6;
        }

        @include hover-none {
            opacity: 0.6;
        }

        & button {
            @include flexCenter;
            @include square(16px);
        }

        & h3 {
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap;
        }
    }
}