@use './styles/normalize.css';
@use './styles/fonts.css';
@use './styles/importer' as *;

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-primary;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}