@use '../../styles/importer' as *;

.inputList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 24px;
    }

    &__top.modal,
    &__middle.modal,
    &__bottom.modal {
        display: contents;
    }

    @include media(tablet) {
        &__top,
        &__middle,
        &__bottom {
            display: flex;
            flex-direction: column;
        }
    }
}

.badge {
    display: inline-block;
    line-height: 1.4;
    background-color: $color-blue-light;
    border-radius: $border-radius;
    padding: 2px 8px;
    border: 1px solid #99d5ff;
    position: relative;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_padding {
        padding-right: 20px;
    }

    & button {
        position: absolute;
        top: 50%;
        right: 0;
        translate: -50% -50%;
        @include buttonReset;
        @include flexCenter;
    }
}
